
{% extends 'base.html' %}

{% block content %}

<h1>Jewelry Inventory</h1>

<br>

<form method="GET" class="mb-4">

    <input
type="text"
name="search"
placeholder="🔍 Search RFID..."
class="search-box">

    <button class="gold-btn">
        Search
    </button>

</form>

<table>

    <tr>

        <th>RFID</th>
        <th>Ornament</th>
        <th>Weight</th>
        <th>Purity</th>
        <th>Price</th>
        <th>Status</th>
        <th style="text-align:center;">QR</th>
        <th style="text-align:center;">Actions</th>

    </tr>

    {% for item in items %}

    <tr>

        <td>{{ item.rfid_id }}</td>

        <td>{{ item.ornament_name }}</td>

        <td>{{ item.weight }} g</td>

        <td>{{ item.purity }}</td>

        <td>₹{{ "{:,.0f}".format(item.price) }}</td>

        <td>

            {% if item.status == "Available" %}

                <span class="status-available">
                    Available
                </span>

            {% else %}

                <span class="status-sold">
                    Sold
                </span>

            {% endif %}

        </td>

        <td style="text-align:center;">

            <img
                src="/static/qrcodes/{{ item.rfid_id }}.png"
                width="70"
                style="border-radius:8px;">

            <br><br>

            <a href="/print_qr/{{ item.id }}"
               class="print-btn">
                🖨 Print
            </a>

        </td>

        <td class="actions">

            <a href="/edit/{{ item.id }}"
               class="action-btn edit-btn"
               title="Edit">
                ✏️
            </a>

            <a href="/sold/{{ item.id }}"
               class="action-btn sold-btn"
               title="Mark Sold">
                ✔
            </a>

            <a href="/delete/{{ item.id }}"
               class="action-btn delete-btn"
               title="Delete"
               onclick="return confirm('Delete this jewelry item?');">
                🗑
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}
```
